@import "tailwindcss";
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";



.UserInfo .UserDetails .UserText{
    font-size: 12px;
}


@keyframes ticker {
    0% { transform: translateX(100%); }
    100% { transform: translateX(-100%); }
}
.animate-ticker {
    display: inline-block;
    white-space: nowrap;
    animation: ticker 15s linear infinite;
}



body::-webkit-scrollbar {
    width: 0px;
}

body::-webkit-scrollbar-thumb {
    background: #555; 
    border-radius: 6px;
}

body::-webkit-scrollbar-thumb:hover {
    background: #333; 
}

body::-webkit-scrollbar-track {
    background: transparent; 
}


div::-webkit-scrollbar {
    width: 0px;
}

div::-webkit-scrollbar-thumb {
    background: #555; 
    border-radius: 6px;
}

div::-webkit-scrollbar-thumb:hover {
    background: #333; 
}

div::-webkit-scrollbar-track {
    background: transparent; 
}
